@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This file is intentionally left blank */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/Opacity overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-image: url("../../images/Header back.png");
  backdrop-filter: url("../../images/Opacity overlay.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}
@media screen and (max-width: 860px) {
  header nav {
    flex-direction: column;
    padding: 20px;
  }
}
@media screen and (max-width: 860px) {
  header nav img {
    width: 70%;
    margin: 0 10%;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 860px) {
  header nav ul {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
header nav ul li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: text-decoration 0.5s;
}
header nav ul li:hover {
  text-decoration: underline;
}

li.button {
  background-color: white;
  color: #B2D234;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 860px) {
  .header-title {
    height: 100vh;
  }
}
.header-title h1 {
  font-size: 128px;
  color: white;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 860px) {
  .header-title h1 {
    font-size: 80px;
  }
}
.header-title h2 {
  margin-top: 2%;
  font-size: 52px;
  position: relative;
  rotate: -9deg;
  color: white;
  left: 30px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
@media screen and (max-width: 860px) {
  .header-title h2 {
    font-size: 40px;
    left: 0;
    margin-top: 5%;
  }
}

.header-reseaux {
  position: absolute;
  top: 90%;
  right: 0;
  left: 90%;
  bottom: 0;
}
@media screen and (max-width: 860px) {
  .header-reseaux {
    top: 80%;
  }
}
.header-reseaux img {
  width: 20%;
}
@media screen and (max-width: 860px) {
  .header-reseaux img {
    width: 70%;
  }
}

.surMesure {
  background-image: url(../../images/élément-1.png);
  background-repeat: repeat;
  height: 120vh;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 860px) {
  .surMesure {
    flex-direction: column;
    height: 100%;
  }
}
.surMesure img {
  width: 90%;
  height: 90%;
}
.surMesure-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 10%;
  height: 80%;
  width: 100%;
}
@media screen and (max-width: 860px) {
  .surMesure-content {
    margin-left: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
.surMesure-content h3 {
  font-size: 52px;
  color: #B2D234;
  font-family: "Poppins", sans-serif;
  display: flex;
}
.surMesure-content p {
  font-size: 18px;
  color: #606060;
  line-height: 24pt;
  font-family: "Poppins", sans-serif;
}
.surMesure-content button {
  background-color: #B2D234;
  padding: 14px 60px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.preparation {
  background-image: url(../../images/ismael-trevino-NDyuR4Huig8-unsplash.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.preparation-content {
  background-color: rgba(178, 210, 50, 0.85);
  width: 30%;
  padding: 1% 5%;
  margin-left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 860px) {
  .preparation-content {
    width: 80%;
    margin-left: 0;
    padding: 5%;
  }
}
.preparation-content h2 {
  font-size: 52px;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.preparation-content p {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 24pt;
}
.preparation-content button {
  background-color: white;
  width: 240px;
  padding: 14px 60px;
  color: #B2D234;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.menu {
  background-image: url(../../images/pattern-1.png);
  background-repeat: repeat;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
  .menu {
    flex-direction: column;
    height: 100%;
    margin: 2% 0%;
  }
}
.menu-txt {
  width: 80%;
  text-align: center;
}
.menu-txt h2 {
  color: #B2D234;
  font-size: 52px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
}
.menu-txt p {
  font-size: 18px;
  line-height: 24pt;
  color: #606060;
  font-family: "Poppins", sans-serif;
}

.menu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 180px;
}
@media screen and (max-width: 860px) {
  .menu-content {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.menu-carte {
  grid-column: 1/2;
  justify-content: center;
}
.menu-carte-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10%;
}
.menu-carte-content > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.menu-carte-content h4 {
  font-size: 24px;
  color: #B2D234;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2%;
  gap: 100px;
}
.menu-carte-content p {
  color: #606060;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.menu-carte-content.special {
  border: 2px solid #B2D234;
  padding: 1%;
}

.menu-pub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu-pub h2 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
  rotate: -9deg;
  margin-bottom: 5%;
  font-style: italic;
}
.menu-pub h2.green {
  color: #B2D234;
}
.menu-pub h2.blue {
  color: #60A0D8;
}
.menu-pub p {
  margin-top: 2em;
  color: #606060;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 24pt;
}
.menu-pub button {
  margin-top: 2em;
  background-color: #B2D234;
  padding: 14px 60px;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.aliments {
  height: 100vh;
  background-image: url(../../images/louis-hansel-MlPD-AzZYMg-unsplash.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .aliments {
    grid-template-columns: 1fr;
    height: 100%;
  }
}

.cards {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
}
@media screen and (max-width: 860px) {
  .cards {
    display: block;
    height: auto;
    margin: 5% 0%;
  }
}
.cards h2 {
  font-size: 52px;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10%;
}
.cards li {
  color: white;
  font-size: 18px;
}
.cards.bleus {
  background-color: rgba(95, 160, 216, 0.85);
}
.cards.verts {
  background-color: rgba(177, 209, 51, 0.85);
}
.cards div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 860px) {
  .cards div {
    gap: 0;
  }
}
.cards div li {
  line-height: 20pt;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.partage {
  height: 110vh;
  background-image: url(../../images/élément-1.png);
  background-repeat: repeat;
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
@media screen and (max-width: 860px) {
  .partage {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: 100%;
  }
}
.partage-img {
  position: relative;
  justify-items: center;
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-top: 5%;
  overflow: hidden;
}
@media screen and (max-width: 860px) {
  .partage-img {
    margin-left: 0;
    margin-top: 0;
    width: 40%;
  }
}
.partage-img img {
  display: block;
  width: 100%;
  height: auto;
}
.partage-img::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 10px solid white;
  transform: translateX(-50%);
}
.partage-img::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  height: 10px;
  background: white;
}
.partage h2 {
  display: grid;
  grid-column: 2/3;
  align-items: center;
  justify-items: start;
  padding: 4% 0%;
  color: #B2D234;
  font-size: 52px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 860px) {
  .partage h2 {
    grid-column: 1/2;
    justify-items: center;
    font-size: 42px;
  }
}
.partage p {
  margin-top: 2%;
  font-size: 18px;
  line-height: 24pt;
  color: #606060;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 860px) {
  .partage p {
    grid-column: 1/2;
    text-align: center;
  }
}
.partage-form {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 860px) {
  .partage-form {
    margin-top: 0;
    align-items: center;
  }
}
.partage-form label {
  color: #B2D234;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.partage-form button {
  margin-top: 2em;
  background-color: #B2D234;
  padding: 14px 60px;
  color: white;
  font-size: 24px;
  width: 30%;
  border: none;
  margin-left: 35%;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 860px) {
  .partage-form button {
    margin-left: 0;
    width: 50%;
    margin-bottom: 5%;
  }
}
.partage-form-name {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.partage-form-cote {
  display: flex;
  gap: 10%;
}
@media screen and (max-width: 860px) {
  .partage-form-cote {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
}

.partage-txt {
  width: 95%;
}

input {
  height: 30px;
  border: 1px solid #606060;
  width: 90%;
}

textarea {
  resize: none;
  border: 1px solid #606060;
  width: 90%;
}

footer {
  height: 35vh;
  background-color: #B2D234;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0 5%;
}
@media screen and (max-width: 860px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    padding: 0;
  }
}

.footer-list {
  color: white;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.footer-list h4 {
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
}
@media screen and (max-width: 860px) {
  .footer-list h4 {
    margin: 5% 0;
  }
}
.footer-list li {
  margin-bottom: 5%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 860px) {
  .footer-logo {
    justify-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
