.aliments {
    height: 100vh;
    background-image: url(../../images/louis-hansel-MlPD-AzZYMg-unsplash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    @include responsive($breakpoint-mobile) {
        grid-template-columns: 1fr;
        height: 100%;
    }

}

.cards {
    padding: 2%;
    @include flex(center, center, true);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;

    @include responsive($breakpoint-mobile) {
        display: block;
        height: auto;
        margin: 5% 0%;
    }


    h2 {
        font-size: $font-size-large;
        color: $clr-white;
        font-family: $font-family-poppins;
        text-align: center;
        margin-bottom: 10%;
    }

    
    li {
        color: $clr-white;
        font-size: $font-size-base;
    }

    &.bleus {
        background-color: rgba(95, 160, 216, 85%);
    }

    &.verts {
        background-color: rgba(177, 209, 51, 85%);
    }

    & div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;


        @include responsive($breakpoint-mobile) {
            gap: 0;
        }
        li {
            line-height: 20pt;
            font-size: $font-size-base;
            font-family: $font-family-poppins;
            text-align: center;
        }
    }
}