.partage {
    height: 110vh;
    background-image: url(../../images/élément-1.png);
    background-repeat: repeat;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    @include responsive($breakpoint-mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        justify-items: center;
        height: 100%;
        
    }

    &-img {
        position: relative;
        justify-items: center;
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-top: 5%;
        overflow: hidden;

        @include responsive($breakpoint-mobile) {
            margin-left: 0;
            margin-top: 0;
            width: 40%;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            border-left: 10px solid $clr-white; // La ligne verticale blanche
            transform: translateX(-50%); // Centrer la bordure exactement au milieu
          }
        
          // Ligne horizontale
          &::after {
            content: '';
            position: absolute;
            top: 40%; // Devrait placer le bord supérieur de la ligne au milieu
            left: 0;
            right: 0;
            height: 10px; // Donne une hauteur fixe à la ligne horizontale
            background: $clr-white; // Utilise un fond plutôt qu'une bordure pour contrôler la hauteur
          }
    
    }
    h2 {
        display: grid;
        grid-column: 2 / 3;
        align-items: center;
        justify-items: start;
        padding: 4% 0%;
        color: $clr-green;
        font-size: $font-size-large;
        font-family: $font-family-poppins;
        @include responsive($breakpoint-mobile) {
            grid-column: 1 / 2;
            justify-items: center;
            font-size: 42px;
        }
    }        
        
        p {
            margin-top: 2%;
            font-size: $font-size-base;
            line-height: 24pt;
            color: $clr-grey;
            font-family: $font-family-poppins;
            @include responsive($breakpoint-mobile) {
                grid-column: 1 / 2;
                text-align: center;
            }
        }
        
    &-form {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        @include responsive($breakpoint-mobile) {
            margin-top: 0;
            align-items: center;
        }

        & label {
            color: $clr-green;
            font-size: 24px;
            font-family: $font-family-poppins;
            font-style: italic;
        }

        & button {
            margin-top: 2em;
            background-color: $clr-green;
            padding: 14px 60px;
            color: $clr-white;
            font-size: 24px;
            width: 30%;
            border: none;
            margin-left: 35%;
            border-radius: 8px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

            @include responsive($breakpoint-mobile) {
                margin-left: 0;
                width: 50%;
                margin-bottom: 5%;
            }
        }

        &-name {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        &-cote {
            display: flex;
            gap: 10%;
            @include responsive($breakpoint-mobile) {
                flex-direction: column;
                gap: 20px;
                padding: 0;
                margin: 0;
            }
        }
    }
}
.partage-txt {
    width: 95%;
}

input {
    height: 30px;
    border: 1px solid $clr-grey;
    width: 90%;
}

textarea {
    resize: none;
    border: 1px solid $clr-grey;
    width: 90%;
}

