
@mixin flex($align, $justify: center, $wrap: false) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    @if $wrap {
        flex-wrap: wrap;
    }
}

@mixin responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

