// This file is intentionally left blank.


// Colors
$clr-green: #B2D234;
$clr-grey: #606060;
$clr-white: white;


// Typography
$font-family-poppins: 'Poppins', sans-serif;


// Base
$font-size-base: 18px;
$font-size-large: 52px;
$line-height-base: 1.5;

// Breakpoints
$breakpoint-mobile: 860px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

